@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* 文字下划线 */
  .link-after {
    @apply after:transition-all after:left-0 after:bottom-0 after:h-[0.1rem] after:w-0 after:bg-black after:absolute after:hover:w-full;
  }

  /* 首页背景 */
  .welcome-ball {
    @apply absolute bg-opacity-30 w-[140px] h-[140px] z-[-1] rounded-full top-0 left-0;
  }
}


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */